*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
}
/* utilities */
.all-vw{
    width: 100vw;
}

.flex{
    display: flex;
}

.arrow{
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;

}

.down{
    transform: rotate(45deg);
}

.up{
    transform: rotate(-135deg);
}

/* content */
body{
    height: 100vh;
}

main{
    height: 90vh;
    background-color: black;
}

.view-settings{
    height: 5vh;
}

.main-frame{
    margin: auto;
    width: 90vw;
    height: 85vh;
    color: white;
    flex-wrap: wrap;
    justify-content: center;

}

.frame{
    flex-basis: calc(100vw/7);
    padding: 5px;
    flex-grow: 1;
}

.frame > div{
    position: relative;
}

.profile{
    width: 100%;
}

.name-tag{
    position: absolute;
    background-color: rgba(69, 69, 69, 0.5);
    height: 15%;
    bottom: 10px;
}

.name-tag img{
    height: 100%;
}

.name-tag *{
    vertical-align: middle;
}

/* user settings */
nav{
    height: 10vh;
    background: #222222;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-size: 1.2vw;
}

nav > section{
    display: flex;
    align-items: center;
}

.setting{
  height: 8vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding:  0 10px;
  margin: auto;
  text-align: center;
}

.setting img{
    height: 4vh;
    display: block;
    width: 4vw;
    margin: auto;
}

nav > section:last-child{
    width: 15%;
    height: 100%;
    background-color: #4a4a4a;
    color: red;
}
