*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* utilities */
.all-vw{
    width: 100vw;
}

.flex{
    display: flex;
}

/* content */
body{
    height: 100vh;
}

main{
    height: 90vh;
    background-color: black;
}

nav{
    height: 10vh;
    background: #222222;
}

.view-settings{
    height: 5vh;
}

.main-frame{
    margin: auto;
    width: 90vw;
    height: 85vh;
}